<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="~/MuzikTemplate/html-dark/index.html" class="header-logo">
            <img src="~/MuzikTemplate/html-dark/images/logo.png" class="img-fluid rounded-normal" alt="">
            <div class="logo-title">
                <span class="text-primary text-uppercase">Muzik</span>
            </div>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="las la-bars"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class="active active-menu">
                    <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Dashboard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                        <li class="active"><a href="index.html"><i class="las la-house-damage"></i>Home</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/latest.html"><i class="las la-headphones"></i>Latest</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/albums.html"><i class="lar la-file-audio"></i>Albums</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="ri-admin-line iq-arrow-left"></i><span>Admin</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="admin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="~/MuzikTemplate/html-dark/admin-dashboard.html"><i class="las la-house-damage"></i>Dashboard</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/admin-category.html"><i class="ri-function-line"></i>Category</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/admin-writer.html"><i class="las la-user"></i>Writer</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/admin-singer.html"><i class="las la-microphone-alt"></i>Singer</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/admin-song.html"><i class="las la-play-circle"></i>Music</a></li>
                    </ul>
                </li>
                <li>
                    <a href="~/MuzikTemplate/html-dark/calendar.html" class="iq-waves-effect"><i class="las la-calendar iq-arrow-left"></i><span>Calendar</span></a>
                </li>
                <li>
                    <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>User</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
                        <li><a href="~/MuzikTemplate/html-dark/profile.html"><i class="las la-id-card-alt"></i>User Profile</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/profile-edit.html"><i class="las la-edit"></i>User Edit</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/add-user.html"><i class="las la-plus-circle"></i>User Add</a></li>
                        <li><a href="~/MuzikTemplate/html-dark/user-list.html"><i class="las la-th-list"></i>User List</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="lab la-elementor iq-arrow-left"></i><span>UI Elements</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="ui-elements" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li class="elements">
                            <a href="#sub-menu" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-play-circle-line"></i><span>UI Kit</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="sub-menu" class="iq-submenu collapse" data-parent="#ui-elements">
                                <li><a href="~/MuzikTemplate/html-dark/ui-colors.html"><i class="las la-palette"></i>colors</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-typography.html"><i class="las la-keyboard"></i>Typography</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-alerts.html"><i class="las la-tag"></i>Alerts</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-badges.html"><i class="lab la-atlassian"></i>Badges</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-breadcrumb.html"><i class="las la-bars"></i>Breadcrumb</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-buttons.html"><i class="las la-tablet"></i>Buttons</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-cards.html"><i class="las la-credit-card"></i>Cards</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-carousel.html"><i class="las la-film"></i>Carousel</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-embed-video.html"><i class="las la-video"></i>Video</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-grid.html"><i class="las la-border-all"></i>Grid</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-images.html"><i class="las la-images"></i>Images</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-list-group.html"><i class="las la-list"></i>list Group</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-media-object.html"><i class="las la-ad"></i>Media</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-modal.html"><i class="las la-columns"></i>Modal</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-notifications.html"><i class="las la-bell"></i>Notifications</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-pagination.html"><i class="las la-ellipsis-h"></i>Pagination</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-popovers.html"><i class="las la-eraser"></i>Popovers</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-progressbars.html"><i class="las la-hdd"></i>Progressbars</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-tabs.html"><i class="las la-database"></i>Tabs</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/ui-tooltips.html"><i class="las la-magnet"></i>Tooltips</a></li>
                            </ul>
                        </li>
                        <li class="form">
                            <a href="#forms" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="lab la-wpforms"></i><span>Forms</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="forms" class="iq-submenu collapse" data-parent="#ui-elements">
                                <li><a href="~/MuzikTemplate/html-dark/form-layout.html"><i class="las la-book"></i>Form Elements</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/form-validation.html"><i class="las la-edit"></i>Form Validation</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/form-switch.html"><i class="las la-toggle-off"></i>Form Switch</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/form-chechbox.html"><i class="las la-check-square"></i>Form Checkbox</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/form-radio.html"><i class="ri-radio-button-line"></i>Form Radio</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#wizard-form" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-archive-drawer-line"></i><span>Forms Wizard</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="wizard-form" class="iq-submenu collapse" data-parent="#ui-elements">
                                <li><a href="~/MuzikTemplate/html-dark/form-wizard.html"><i class="ri-clockwise-line"></i>Simple Wizard</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/form-wizard-validate.html"><i class="ri-clockwise-2-line"></i>Validate Wizard</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/form-wizard-vertical.html"><i class="ri-anticlockwise-line"></i>Vertical Wizard</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#tables" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-table-line"></i><span>Table</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="tables" class="iq-submenu collapse" data-parent="#ui-elements">
                                <li><a href="~/MuzikTemplate/html-dark/tables-basic.html"><i class="ri-table-line"></i>Basic Tables</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/data-table.html"><i class="ri-database-line"></i>Data Table</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/table-editable.html"><i class="ri-refund-line"></i>Editable Table</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#charts" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pie-chart-box-line"></i><span>Charts</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="charts" class="iq-submenu collapse" data-parent="#ui-elements">
                                <li><a href="~/MuzikTemplate/html-dark/chart-morris.html"><i class="ri-file-chart-line"></i>Morris Chart</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/chart-high.html"><i class="ri-bar-chart-line"></i>High Charts</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/chart-am.html"><i class="ri-folder-chart-line"></i>Am Charts</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/chart-apex.html"><i class="ri-folder-chart-2-line"></i>Apex Chart</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#icons" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-list-check"></i><span>Icons</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="icons" class="iq-submenu collapse" data-parent="#ui-elements">
                                <li><a href="~/MuzikTemplate/html-dark/icon-dripicons.html"><i class="ri-stack-line"></i>Dripicons</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/icon-fontawesome-5.html"><i class="ri-facebook-fill"></i>Font Awesome 5</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/icon-lineawesome.html"><i class="ri-keynote-line"></i>line Awesome</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/icon-remixicon.html"><i class="ri-remixicon-line"></i>Remixicon</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/icon-unicons.html"><i class="ri-underline"></i>unicons</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-file-alt iq-arrow-left"></i><span>Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="pages" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li>
                            <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pages-line"></i><span>Authentication</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="authentication" class="iq-submenu collapse" data-parent="#pages">
                                <li><a href="~/MuzikTemplate/html-dark/sign-in.html"><i class="las la-sign-in-alt"></i>Login</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/sign-up.html"><i class="ri-login-circle-line"></i>Register</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-recoverpw.html"><i class="ri-record-mail-line"></i>Recover Password</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-confirm-mail.html"><i class="ri-file-code-line"></i>Confirm Mail</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-lock-screen.html"><i class="ri-lock-line"></i>Lock Screen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#extra-pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pantone-line"></i><span>Extra Pages</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="extra-pages" class="iq-submenu collapse" data-parent="#pages">
                                <li><a href="~/MuzikTemplate/html-dark/pages-timeline.html"><i class="ri-map-pin-time-line"></i>Timeline</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-invoice.html"><i class="ri-question-answer-line"></i>Invoice</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/blank-page.html"><i class="ri-invision-line"></i>Blank Page</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-error.html"><i class="ri-error-warning-line"></i>Error 404</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-error-500.html"><i class="ri-error-warning-line"></i>Error 500</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-pricing.html"><i class="ri-price-tag-line"></i>Pricing</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-maintenance.html"><i class="ri-archive-line"></i>Maintenance</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-comingsoon.html"><i class="ri-mastercard-line"></i>Coming Soon</a></li>
                                <li><a href="~/MuzikTemplate/html-dark/pages-faq.html"><i class="ri-compasses-line"></i>Faq</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#menu-level" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-record-circle-line iq-arrow-left"></i><span>Menu Level</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="menu-level" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="#"><i class="ri-record-circle-line"></i>Menu 1</a></li>
                        <li>
                            <a href="#"><i class="ri-record-circle-line"></i>Menu 2</a>
                            <ul>
                                <li class="menu-level">
                                    <a href="#sub-menus" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-play-circle-line"></i><span>Sub-menu</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                                    <ul id="sub-menus" class="iq-submenu iq-submenu-data collapse">
                                        <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 1</a></li>
                                        <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 2</a></li>
                                        <li><a href="#"><i class="ri-record-circle-line"></i>Sub-menu 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="ri-record-circle-line"></i>Menu 3</a></li>
                        <li><a href="#"><i class="ri-record-circle-line"></i>Menu 4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
