<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Muzik</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/MuzikTemplate/html-dark/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/MuzikTemplate/html-dark/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/MuzikTemplate/html-dark/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/MuzikTemplate/html-dark/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/MuzikTemplate/html-dark/css/responsive.css">
</head>
<body>
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar  -->
        @Html.Partial("~/Views/Shared/AdminComponents/_AdminSideBar.cshtml")
        <!-- TOP Nav Bar -->
        @Html.Partial("~/Views/Shared/AdminComponents/_AdminNavigationBar.cshtml")
        <!-- TOP Nav Bar END -->
        <!-- Page Content  -->
        @RenderBody()
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    @Html.Partial("~/Views/Shared/AdminComponents/_AdminFooter.cshtml")
    <!-- Footer END -->
    <!-- color-customizer -->
    <div class="iq-colorbox color-fix">
        <div class="buy-button"> <a class="color-full" href="#"><i class="fa fa-spinner fa-spin"></i></a> </div>
        <div id="right-sidebar-scrollbar" class="iq-colorbox-inner">
            <div class="clearfix color-picker">
                <h3 class="iq-font-black">Muzik Awesome Color</h3>
                <p>This color combo available inside whole template. You can change on your wish, Even you can create your own with limitless possibilities! </p>
                <ul class="iq-colorselect clearfix">
                    <li class="color-1 iq-colormark" data-style="color-1"></li>
                    <li class="color-2" data-style="iq-color-2"></li>
                    <li class="color-3" data-style="iq-color-3"></li>
                    <li class="color-4" data-style="iq-color-4"></li>
                    <li class="color-5" data-style="iq-color-5"></li>
                    <li class="color-6" data-style="iq-color-6"></li>
                    <li class="color-7" data-style="iq-color-7"></li>
                    <li class="color-8" data-style="iq-color-8"></li>
                    <li class="color-9" data-style="iq-color-9"></li>
                    <li class="color-10" data-style="iq-color-10"></li>
                    <li class="color-11" data-style="iq-color-11"></li>
                    <li class="color-12" data-style="iq-color-12"></li>
                    <li class="color-13" data-style="iq-color-13"></li>
                    <li class="color-14" data-style="iq-color-14"></li>
                    <li class="color-15" data-style="iq-color-15"></li>
                    <li class="color-16" data-style="iq-color-16"></li>
                    <li class="color-17" data-style="iq-color-17"></li>
                    <li class="color-18" data-style="iq-color-18"></li>
                    <li class="color-19" data-style="iq-color-19"></li>
                    <li class="color-20" data-style="iq-color-20"></li>
                </ul>
                <a target="_blank" class="btn btn-primary d-block mt-3" href="https://themeforest.net/item/muzik-music-streaming-admin-template/27967164">Purchase Now</a>
            </div>
        </div>
    </div>
    <!-- color-customizer END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/MuzikTemplate/html-dark/js/jquery.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/popper.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/waypoints.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/apexcharts.js"></script>
    <!-- Slick JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/smooth-scrollbar.js"></script>
    <!-- lottie JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/lottie.js"></script>
    <!-- am core JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/core.js"></script>
    <!-- am charts JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/charts.js"></script>
    <!-- am animated JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/animated.js"></script>
    <!-- am kelly JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/kelly.js"></script>
    <!-- am maps JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/maps.js"></script>
    <!-- am worldLow JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/worldLow.js"></script>
    <!-- Raphael-min JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/raphael-min.js"></script>
    <!-- Morris JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/morris.js"></script>
    <!-- Morris min JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/morris.min.js"></script>
    <!-- Flatpicker Js -->
    <script src="~/MuzikTemplate/html-dark/js/flatpickr.js"></script>
    <!-- Style Customizer -->
    <script src="~/MuzikTemplate/html-dark/js/style-customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/chart-custom.js"></script>
    <!-- music js -->
    <script src="~/MuzikTemplate/html-dark/js/music-player.js"></script>
    <!-- music-player js -->
    <script src="~/MuzikTemplate/html-dark/js/music-player-dashboard.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/MuzikTemplate/html-dark/js/custom.js"></script>
</body>
</html>
