<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Muzik</title>
    <link rel="shortcut icon" href="~/MuzikTemplate/html-dark/images/favicon.ico" />
    <link rel="stylesheet" href="~/MuzikTemplate/html-dark/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/MuzikTemplate/html-dark/css/typography.css">
    <link rel="stylesheet" href="~/MuzikTemplate/html-dark/css/style.css">
    <link rel="stylesheet" href="~/MuzikTemplate/html-dark/css/responsive.css">
</head>
<body>
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <div class="wrapper">
        @Html.Partial("~/Views/Shared/MainComponents/_MainNavigationBar.cshtml")
        @RenderBody()
    </div>
    <script src="~/MuzikTemplate/html-dark/js/jquery.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/popper.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/bootstrap.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/jquery.appear.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/countdown.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/waypoints.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/jquery.counterup.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/wow.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/apexcharts.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/slick.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/select2.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/owl.carousel.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/jquery.magnific-popup.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/smooth-scrollbar.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/lottie.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/core.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/charts.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/animated.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/kelly.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/maps.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/worldLow.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/raphael-min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/morris.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/morris.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/flatpickr.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/style-customizer.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/chart-custom.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/music-player.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/music-player-dashboard.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/MuzikTemplate/html-dark/js/custom.js"></script>
    <script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.@(System.Threading.Thread.CurrentThread.CurrentCulture.Name).js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
