
@{
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}


<div class="row">
    <div class="col text-center">
        <img src="~/Content/images/testimage.jpg" class="fit-image" alt="Test Image" />
    </div>
</div>