@using Microsoft.AspNet.Identity;
@model IEnumerable<Omadiko.Entities.Models.Membership>

@{
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<style>
    .enterUser:hover{
        font-size: large;
    }
</style>

<div id="content-page" class="content-page fit-image" style="margin:auto; background-image: url('/Content/images/testimage.jpg'); background-attachment:fixed; background-size:cover">
    <div class="container-fluid">
        <div class="row" style="justify-content:center">
            <div class="iq-card text-center" style="margin-top:100px">
                <div class="iq-card-body border text-center rounded">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="enterUser" href="~/Home/Index"><h6>Enter without subscription</h6></a>
                    }
                    else
                    {
                        <a class="enterUser" onclick="alert('You have to be a registered User to access our site')" href="~/Account/Register"><h6>Enter without subscription</h6></a>
                    }
                    <small>or</small>
                    <h1>Pick your Premium!</h1>
                    <h6>Listen witout limits on your phone, speaker and other devices.</h6>
                </div>
            </div>
        </div>
        @if (Model is null)
        {
            <h1 style="color:black; text-align:center">No memberships available at the moment</h1>
        }
        else
        {
            <div class="row">
                @foreach (var membership in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="iq-card" style="margin-top:40px">
                            <div class="iq-card-body border text-center rounded">
                                <span class="font-size-16 text-uppercase">@membership.Type</span>
                                <h2 class="mb-4 display-3 font-weight-bolder ">@membership.SignUpFee€</h2>
                                <div style="text-align:center">
                                    <ol style="list-style:square; display:inline-block; text-align:left">
                                        <li>Duration: @membership.DurationInMonths @(membership.DurationInMonths == 1 ? "month" : "months")</li>
                                        <li>Listen to music ad-free</li>
                                        <li>Play anywhere - even offline</li>
                                        <li>Create your own music library</li>
                                    </ol>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="~/ShoppingCart/OrderNow/@membership.MembershipId" class="btn btn-primary mt-5">Get Started</a>
                                }
                                else
                                {
                                    <a href="~/Account/Register" class="btn btn-primary mt-5">Get Started</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
