
@{
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6>Music Artist</h6>
                            <span class="iq-icon"><i class="ri-information-fill"></i></span>
                        </div>
                        <div class="iq-customer-box d-flex align-items-center justify-content-between mt-3">
                            <div class="iq-map text-primary font-size-32"><i class="ri-bar-chart-grouped-line"></i></div>
                            <div class="d-flex align-items-center">
                                <h2>352</h2>
                                <div class="rounded-circle iq-card-icon iq-bg-primary ml-3"> <i class="ri-inbox-fill"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6>Music Album</h6>
                            <span class="iq-icon"><i class="ri-information-fill"></i></span>
                        </div>
                        <div class="iq-customer-box d-flex align-items-center justify-content-between mt-3">
                            <div class="iq-map text-success font-size-32"><i class="ri-bar-chart-grouped-line"></i></div>
                            <div class="d-flex align-items-center">
                                <h2>987</h2>
                                <div class="rounded-circle iq-card-icon iq-bg-success ml-3"><i class="ri-price-tag-3-line"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6>Music Followers</h6>
                            <span class="iq-icon"><i class="ri-information-fill"></i></span>
                        </div>
                        <div class="iq-customer-box d-flex align-items-center justify-content-between mt-3">
                            <div class="iq-map text-danger font-size-32"><i class="ri-bar-chart-grouped-line"></i></div>
                            <div class="d-flex align-items-center">
                                <h2>2.5K</h2>
                                <div class="rounded-circle iq-card-icon iq-bg-danger ml-3"><i class="ri-radar-line"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6>Music Comments</h6>
                            <span class="iq-icon"><i class="ri-information-fill"></i></span>
                        </div>
                        <div class="iq-customer-box d-flex align-items-center justify-content-between mt-3">
                            <div class="iq-map text-info font-size-32"><i class="ri-bar-chart-grouped-line"></i></div>
                            <div class="d-flex align-items-center">
                                <h2>5.2M</h2>
                                <div class="rounded-circle iq-card-icon iq-bg-info ml-3"><i class="ri-refund-line"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div id="progress-chart-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Best artist</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown">
                                    <i class="ri-more-fill"></i>
                                </span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1" style="">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <ul class="list-inline p-0 m-0">
                            <li class="d-flex mb-3 align-items-center p-3 sell-list border border-primary rounded">
                                <div class="user-img img-fluid">
                                    <img src="images/user/01.jpg" alt="story-img" class="img-fluid rounded-circle avatar-40">
                                </div>
                                <div class="media-support-info ml-3">
                                    <h6>Pete Sariya</h6>
                                    <p class="mb-0 font-size-12">24 jan, 2020</p>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <div class="badge badge-pill badge-primary">157</div>
                                </div>
                            </li>
                            <li class="d-flex mb-3 align-items-center p-3 sell-list border border-success rounded">
                                <div class="user-img img-fluid">
                                    <img src="images/user/02.jpg" alt="story-img" class="img-fluid rounded-circle avatar-40">
                                </div>
                                <div class="media-support-info ml-3">
                                    <h6>Anna Mull</h6>
                                    <p class="mb-0 font-size-12">15 feb, 2020</p>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <div class="badge badge-pill badge-success">280</div>
                                </div>
                            </li>
                            <li class="d-flex align-items-center p-3 sell-list border border-danger rounded">
                                <div class="user-img img-fluid">
                                    <img src="images/user/03.jpg" alt="story-img" class="img-fluid rounded-circle avatar-40">
                                </div>
                                <div class="media-support-info ml-3">
                                    <h6>Alex john</h6>
                                    <p class="mb-0 font-size-12">05 March, 2020</p>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <div class="badge badge-pill badge-danger">200</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <div id="progress-chart-1"></div>
                        <div class="table-responsive">
                            <table class="table mb-0 table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Album</th>
                                        <th scope="col">Song No</th>
                                        <th scope="col">Review</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Like That</td>
                                        <td>#1525</td>
                                        <td>3.5<i class="ri-star-fill text-warning pl-2"></i></td>
                                    </tr>
                                    <tr>
                                        <td>Said Sum</td>
                                        <td>#1200</td>
                                        <td>4.5<i class="ri-star-fill text-warning pl-2"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-top justify-content-between">
                            <div class="media align-items-center">
                                <div class="music-icon-2 text-center text-danger">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="iq-card-text pl-3">
                                    <h5>Positive Comment</h5>
                                    <div class="d-block line-height">
                                        <span class="font-size-11 text-warning">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="mb-1">50/100</p>
                        </div>
                    </div>
                </div>
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-top justify-content-between">
                            <div class="media align-items-center">
                                <div class="music-icon-2 text-center text-danger">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="iq-card-text pl-3">
                                    <h5>Average Comment</h5>
                                    <div class="d-block line-height">
                                        <span class="font-size-11 text-warning">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="mb-1">25/100</p>
                        </div>
                    </div>
                </div>
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="d-flex align-items-top justify-content-between">
                            <div class="media align-items-center">
                                <div class="music-icon-2 text-center text-danger">
                                    <i class="fa fa-meh-o"></i>
                                </div>
                                <div class="iq-card-text pl-3">
                                    <h5>Negative Comment</h5>
                                    <div class="d-block line-height">
                                        <span class="font-size-11 text-warning">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="mb-1">05/100</p>
                        </div>
                    </div>
                </div>
                <div class="iq-card mb-0">
                    <div class="iq-card-body p-2">
                        <div id="menu-chart-demo3"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-body">
                        <h2 class="mb-0"><span class="counter" style="visibility: visible;">3450</span></h2>
                        <p class="mb-0">Music Followers</p>
                        <h6 class="mb-4"><span class="text-success mr-2">20%</span>Positive reviews</h6>
                        <a href="javascript:void();" class="btn btn-danger d-block mt-5 mb-4"> Add Song</a>
                        <div class="mt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mt-1 mb-2">Songs</p>
                                <h4 class="counter" style="visibility: visible;">81</h4>
                            </div>
                            <div class="iq-progress-bar-linear d-inline-block w-100">
                                <div class="iq-progress-bar bg-primary-light iq-progress-bar-icon">
                                    <span class="bg-primary" data-percent="50"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mt-1 mb-2">Albems</p>
                                <h4 class="counter" style="visibility: visible;">124</h4>
                            </div>
                            <div class="iq-progress-bar-linear d-inline-block w-100">
                                <div class="iq-progress-bar bg-success-light iq-progress-bar-icon">
                                    <span class="bg-success" data-percent="50"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="mt-1 mb-2">Videos</p>
                                <h4 class="counter" style="visibility: visible;">74</h4>
                            </div>
                            <div class="iq-progress-bar-linear d-inline-block w-100">
                                <div class="iq-progress-bar bg-danger-light iq-progress-bar-icon">
                                    <span class="bg-danger" data-percent="50"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Song Table</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <button class="btn btn-outline-primary">View All</button>
                        </div>
                    </div>
                    <div class="iq-card-body rec-pat">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0 table-borderless">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Song</th>
                                        <th>Name</th>
                                        <th>File Size</th>
                                        <th>Date</th>
                                        <th>Review</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Life Is Good</td>
                                        <td>
                                            <div class="media align-items-center">
                                                <img src="images/user/01.jpg" class="img-fluid avatar-35 rounded" alt="image">
                                                <div class="media-body ml-3">
                                                    <p class="mb-0">Pete Sariya</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>20.04 Mb</td>
                                        <td>20/08/2020</td>
                                        <td>
                                            <div class="d-block line-height">
                                                <span class="font-size-11 text-warning">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge badge-success">Success</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Harry Styles</td>
                                        <td>
                                            <div class="media align-items-center">
                                                <img src="images/user/02.jpg" class="img-fluid avatar-35 rounded" alt="image">
                                                <div class="media-body ml-3">
                                                    <p class="mb-0">Cliff Hanger</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>45.00 Mb</td>
                                        <td>20/08/2020</td>
                                        <td>
                                            <div class="d-block line-height">
                                                <span class="font-size-11 text-warning">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge badge-danger">Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Die From A..</td>
                                        <td>
                                            <div class="media align-items-center">
                                                <img src="images/user/03.jpg" class="img-fluid avatar-35 rounded" alt="image">
                                                <div class="media-body ml-3">
                                                    <p class="mb-0">Terry Aki</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>26.08 Mb</td>
                                        <td>20/08/2020</td>
                                        <td>
                                            <div class="d-block line-height">
                                                <span class="font-size-11 text-warning">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge badge-success">Success</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Life's A Mess</td>
                                        <td>
                                            <div class="media align-items-center">
                                                <img src="images/user/04.jpg" class="img-fluid avatar-35 rounded" alt="image">
                                                <div class="media-body ml-3">
                                                    <p class="mb-0">Rock lai</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>15.04 Mb</td>
                                        <td>20/08/2020</td>
                                        <td>
                                            <div class="d-block line-height">
                                                <span class="font-size-11 text-warning">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge badge-danger">Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Rags2Riches</td>
                                        <td>
                                            <div class="media align-items-center">
                                                <img src="images/user/05.jpg" class="img-fluid avatar-35 rounded" alt="image">
                                                <div class="media-body ml-3">
                                                    <p class="mb-0">Anna Mull</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>10.03 Mb</td>
                                        <td>20/08/2020</td>
                                        <td>
                                            <div class="d-block line-height">
                                                <span class="font-size-11 text-warning">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="badge badge-success">Success</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

