<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="~/MuzikTemplate/html-dark/index.html" class="header-logo">
            <img src="~/MuzikTemplate/html-dark/images/logo.png" class="img-fluid rounded-normal" alt="">
            <div class="logo-title">
                <span class="text-primary text-uppercase">Muzik</span>
            </div>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="las la-bars"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li><a href="~/Admin/Index"><i class="las la-house-damage"></i>Home</a></li>
                <li>
                    <a href="#menu-level" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-record-circle-line iq-arrow-left"></i><span>Manage Users</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="menu-level" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="~/ApplicationUser/Index"><i class="las la-th-list"></i>User List</a></li>
                        <li><a href="~/Admin/UserAdd"><i class="las la-plus-circle"></i>User Add</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#menu-level1" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-record-circle-line iq-arrow-left"></i><span>Manage Music</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="menu-level1" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="~/Genres/Index"><i class="ri-function-line"></i>Genre</a></li>
                        <li><a href="~/Album/Index"><i class="las la-user"></i>Album</a></li>
                        <li><a href="~/Artist/Index"><i class="las la-microphone-alt"></i>Artist</a></li>
                        <li><a href="~/Song/Index"><i class="las la-play-circle"></i>Song</a></li>
                    </ul>
                </li>
                <li><a href="~/Home/Index"><i class="fa fa-user-circle"></i>User View</a></li>
            </ul>
        </nav>
    </div>
</div>

