
<div class="container">
    <div >
        <input class="membershipType" type="text" name="name" value="" />
    </div>
    <div >
        <input class="membershipSignUpFee" type="number" name="name" value="" />
    </div>

    <button type="submit" class="btn btn-primary mr-2 submitBtn">Submit</button>
</div>


@section scripts{
    <script>

        $(".submitBtn").click(function (id) {
            var membershipType = $(".membershipType").val();
            var membershipSignUpFee = $(".membershipSignUpFee").val();
            var settings = {
                "url": "/api/Memberships/PutMembership/" + id,
                "method": "PUT",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "MembershipId": id,
                    "Type": membershipType,
                    "SignUpFee": membershipSignUpFee
                }),
            };
            $.ajax(settings).done(function (response) {
                console.log(response);
            });
        })

    </script>


} 