@using Omadiko.Entities.Models
    @{
        Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
    }

    <div id="content-page" class="content-page fit-image" style="margin:auto; background-image: url('/Content/images/testimage.jpg'); background-attachment:fixed; background-size:cover">
        <div class="container-fluid">
            <div class="row" style="justify-content:center">
                <div class="iq-card text-center" style="margin-top:100px">
                    <div class="iq-card-body border text-center rounded">
                        <h3 style="margin-bottom:10px">Your information is successfully submitted.</h3>
                        @Html.ActionLink("Proceed to Payment with PayPal", "PaymentWithPaypal", "ShoppingCart", new { @class = "btn btn-primary mt-5" })
                        <p>or</p>
                        @Html.ActionLink("Back to Premium Page", "Premium", "Main", null, new { onclick = "return confirm ('Are you sure you want to return to Premium Page? By doing this, the current transaction will be cancelled.');" })
                    </div>
                </div>
            </div>
        </div>
    </div>




