@model Omadiko.Entities.Models.Membership

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="iq-card-body">

                    <div class=" row align-items-center">
                        <div class="form-group col-sm-6">

                            <label for="mtype">First Name:</label>
                            <input type="text" class="form-control" id="mtype" value=@Model.Type>
                        </div>


                    </div>
                    <button id="sbtn" type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button type="reset" class="btn iq-bg-danger">Cancel</button>

            </div>
        </div>
    </div>
</div>



            @section scripts{
                <script src="~/Scripts/jquery-3.4.1.js"></script>
                <script>



                    $("#sbtn").click(function (id) {
                        var id = @Model.MembershipId;
                        var membershipType = $("#mtype").val();

                        var settings = {
                            "url": "https://localhost:44399/api/Memberships/PutMembership/" + id,
                                "method": "PUT",
                                "timeout": 0,
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "data": JSON.stringify({
                                    "MembershipId": id,
                                    "Type": membershipType
                                })
                        };
                            $.ajax(settings).done(function (response) {
                                console.log(response);
                            });
                    })


                </script>
            }
